

  <div class="card" >
    <div class="card-header">
      Add Course
    </div>
    <div class="card-body">
        <form  #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" placeholder="Enter Your Title" id="title" name="title" #title="ngModel" [(ngModel)]="model.title" required>
          <!-- <div *ngIf="title.invalid && title.touched" class="text-danger">
            Title is Required
        </div> -->    
          @if(title.invalid && title.touched){
            <div class="text-danger">
                Title is required
            </div>
          }
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Description" id="description" name="description" #description="ngModel" [(ngModel)]="model.description" required></textarea>
            @if(description.invalid && description.touched){
                <div class="text-danger">
                    Description is required
                </div>
              }
            
          </div>
          </div>
          <label for="image">Choose An Image</label>
          <div><input type="file" id="image" name="image" accept="image/*" (change)="onFileSelected($event)" ngModel required [multiple]="false"></div>

          @if(cover){
            <div class="image" align="right">
                <img [src]="cover" alt="">
            </div>
          }
          
<div class="m-3" align="center">
    <button type="submit" class="btn btn-primary">Save</button>

  </div>
</form>
</div>
    </div>

